[RUTAS]
#Ruta del excel del carck
RUTA_EXCEL_CRACK = D:\TTC_CNE\Configuracion\CRAC_REE.xlsx

#Ruta del fichero de nudos x. nudos de interconexion
RUTA_DICCIONARIO_NUDOS_X=D:\TTC_CNE\Configuracion\DICCIONARIO_NUDOS_X.txt

#Ruta del IdReport que genera el CIMCoverter
RUTA_IDREPORT=D:\TTC_CNE\Configuracion\REE_IdReport.csv


#dIRECTORIO ENTRADA XML RECIBIDOS CORESO
RUTA_INPUT_CORESO_XML=D:\TTC_CNE\Fich_Entrada

#Directorio de salida de los xml generados
RUTA_OUTPUT_XML=D:\TTC_CNE\Fich_Salida


#Nombre del XMl de coreso CapDoc. %y%M%d indica el formato de fecha para ver mas informacion consultar: https://docs.python.org/2/library/datetime.html
NOMBRE_XML_CAPDOC=%Y%m%d_SWE_D2_CapDoc_Prop_REE.xml

#Nombre del xml generado en caso de NO aceptar la capaciada de CORESO
NOMBRE_XML_CAPDOC_RE=%Y%m%d_CapDoc_Ans_Rejected.xml

#Nombre del xml generado en caso de aceptar la capaciada de CORESO
NOMBRE_XML_CAPDOC_AC=%Y%m%d_CapDoc_Ans_Confirmed.xml

#Nombre del XML CNE generado
NOMBRE_XML_CNE_DET_REA=Example_CNE_Detailed_Reasons_For_Reduction_REE_v3.xml

[PARAMETROS]
#REASON CODE: Simpre estructurado de la siguiente forma: Reason for reduction-Reason for reduction;
REASON_CODE=Overload-Z03;GLSK limitation-Z04;Voltage constraint-Z05;Angle constraint-Z06;Stability-Z07;Loadflow divergence-Z08

EXPLANAT_CODE=Unplanned outage-Z09;Change in the generation profile-Z10;Change in the load profile-Z11;Uncomplete CRAC-Z12

